{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "proseWrap": "always",
    "singleAttributePerLine": true
  }
