:root {
    --space-2: 2px;
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-14: 14px;
    --space-16: 16px;
    --space-18: 18px;
    --space-24: 24px;
    --space-32: 32px;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --background-color-1:#F5F5F5;
    --background-color-dark: #202020;
    --background-color-blue-1: #00A3FF;
    --background-color-blue-2: #60C6FF;
    --background-color-blue-3: #028FDE;
    --background-color-blue-4: #C5E6FC;
    --text-color-darken: #505050;
    --border-color: #E0E0E0;
}

:root {
    --border-radius: var(--space-16);
    --box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Raleway', sans-serif;
}